/* add css module styles here (optional) */
.butler {
  position: absolute;
  bottom: 0;
  height: 300px;
  overflow: hidden;
  background-color: #282828;
  font-size: 12px;
  font-family: Verdana;
  width: 100%;
  display: flex;

  @media screen and (max-width: 980px) {
    flex-direction: column;
  }
}
